/*oldalszerkezet készítése minden oldalhoz*/

* {
  box-sizing: border-box;
}

header,
footer,
main,
aside,
article {
  border: 1px solid gray;
  padding: 10px;
}

main {
  width: 75%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

nav {
  flex: 0 0 100%;
  border: 1px solid gray;
}

header {
  flex: 0 0 100%;
}

article {
  flex: 0 0 70%;
}

aside {
  flex: 0 0 30%;
}

footer {
  flex: 0 0 100%;
}

.icons{
    display: flex;
    justify-content: flex-end;
}