/*oldalszerkezet készítése minden oldalhoz, kozos*/

* {
  box-sizing: border-box;
}

html {
  scrollbar-gutter: stable;
}

main {
  width: 75%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

nav {
  flex: 0 0 100%;
  margin-top: 10px;
}

header {
  flex: 0 0 100%;
}

article {
  flex: 0 0 70%;
  padding: 10px;
}

aside {
  flex: 0 0 30%;
  padding: 10px;
}

footer {
  flex: 0 0 100%;
  margin-bottom: 10px;
}

.icons ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.icons ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  text-decoration: none;
}