/*menu kialakitasa minden oldalhoz, fruzsina*/
nav {
    padding: 0;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: flex;
}

nav li.active {
    background-color: var(--color-light-pink);
    border-left: 1px solid black;
    border-right: 1px solid black;
}

nav a {
    padding: 10px;
    color: black;
    text-decoration: none;
}

nav li:first-child a {
    padding: 0;
}

nav a:hover {
    color: var(--color-light-retro);
    transition: .3s;
}

@media (max-width: 480px) {
    nav ul {
        flex-direction: column;
    }

    nav li {
        width: 100%;
    }
}