/*menu kialakitasa minden oldalhoz, fruzsina*/
nav {
    display: flex;
}

nav #brand {
    flex: 0 0 auto;
    padding: 2px 4px;
}

nav ul {
    display: flex;
    flex: 1;
    flex-direction: row;
    margin: 0;
    padding: 0 10vw;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
}

nav li {
    display: flex;
    padding: 10px;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}

nav li.active {
    background-color: var(--color-light-pink);
    border-left-color: black;
    border-right-color: black;
}

.header-icon {
    padding: 0;
}

nav a {
    font-size: 16px;
    color: black;
    text-decoration: none;
}

nav a:hover {
    color: var(--color-light-retro);
    transition: .3s;
}

@media (max-width: 768px) {
    nav ul {
        padding: 0;
    }
}

@media (max-width: 480px) {
    nav {
        flex-direction: column;
    }

    nav ul {
        flex-direction: column;
    }

    nav li {
        width: 100%;
    }

    .header-icon {
        padding: 5px;
    }
}