/*minden oldal szinei, betutipusai, kozos*/

:root {
    --color-bg: #ebe9e9;
    --color-purple: #a12bfb;
    --color-dark-pink: #ff7fa2;
    --color-light-pink: #fc9bad;
    --color-baby-pink: #fddee4;
    --color-yellow: #ffd065;
    --color-light-blue: #43dcfc;
    --color-dark-blue: #160432;
    --color-light-orange: #fe8562;
    --color-light-retro: #fd4063;
    --color-shadow-purple: #b22eff;
    --color-light-star: #fdebd6;
    --color-youtube: #d9032d;
    --selector: #b0728d;
    --font-main: NeueHaas;
    --font-heading: Cheva;
}

@font-face {
    font-family: "NeueHaas";
    src: url("../ttf/NeueHaasDisplayRoman.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Cheva";
    src: url("../ttf/ChevaDisplayDemo.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: var(--color-yellow);
    font-family: var(--font-main);
}

::selection {
    background-color: var(--selector);
}

::-moz-selection {
    background-color: var(--selector);
}

main {
    background-color: var(--color-baby-pink);
}

h1 {
    font-family: var(--font-heading);
    color: var(--color-light-retro);
    font-variant: small-caps;
}

.header-icon {
    color: var(--color-purple);
    font-size: 36px;
}

.icons ul {
    list-style: none;
}

.fruzsibaba {
    color: var(--color-purple);
}

.levibaba {
    color: var(--color-light-blue);
}

.vandababa {
    color: var(--color-dark-pink);
}

.youtube {
    color: var(--color-youtube);
}