/*minden oldal szinei, betutipusai, kozos*/

:root {
  --color-bg: #ebe9e9;
  --color-purple: #a12bfb;
  --color-dark-pink: #ff7fa2;
  --color-light-pink: #fc9bad;
  --color-baby-pink: #fddee4;
  --color-yellow: #ffd065;
  --color-light-blue: #43dcfc;
  --color-dark-blue: #160432;
  --color-light-orange: #fe8562;
  --color-light-retro: #ff5660;
  --color-shadow-purple: #b22eff;
  --color-light-star: #fdebd6;
  --color-youtube: #d9032d;
  --selector: #b0728d;
  --font-main: NeueHaas;
  --font-heading: Cheva;
}

@font-face {
  font-family: "NeueHaas";
  src: url("../ttf/NeueHaasDisplayRoman.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Cheva";
  src: url("../ttf/ChevaDisplayDemo.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

::selection {
  background-color: var(--selector);
}

::-moz-selection {
  background-color: var(--selector);
}

body {
  background-color: var(--color-yellow);
  font-family: var(--font-main);
}

main {
  background-color: var(--color-baby-pink);
}

nav,
footer {
  border-bottom: 1.5px solid black;
  border-top: 1.5px solid black;
}

aside {
  border-left: 1.5px solid black;
  background-image: url("../img/insp/aside_img.jpg");
  background-size: cover;
  background-position: center;
}
article {
  padding-right: 80px;
  position: relative;
}
article p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 40px;
  max-width: 90%;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 40px;
  font-weight: 500;
}
h1 {
  font-family: var(--font-heading);
  color: var(--color-light-retro);
  font-variant: small-caps;
  font-size: 60px;
  line-height: 1;
  text-transform: uppercase;
  text-shadow: 3px 3px 0px #000000dc;
  margin-top: 0;
  margin-bottom: 20px;
}

.header-icon {
  color: var(--color-purple);
  font-size: 36px;
}
.icons {
  position: absolute;
  right: 0;        
  top: 50%;      
  transform: translateY(-50%);
  width: 60px;      
  z-index: 10;  
  padding: 15px;    
}
.icons ul li a {
  background-color: var(--color-light-star);
  border: 2px solid #000;
  box-shadow: 6px 6px 0px var(--color-shadow-purple);
  font-size: 22px;
  transition:
    transform 0.2s,
    box-shadow 0.2s;
}

.icons ul li a:hover {
  transform: translate(-2px, -2px);
  box-shadow: 8px 8px 0px var(--color-shadow-purple);
}

.icons ul li a:active {
  transform: translate(2px, 2px);
  box-shadow: 2px 2px 0px var(--color-shadow-purple);
}

.fruzsibaba {
  color: var(--color-purple);
}

.levibaba {
  color: var(--color-light-blue);
}

.vandababa {
  color: var(--color-dark-pink);
}

.youtube {
  color: var(--color-youtube);
}
.button a {
  background-color: var(--color-light-star);
  border: 2px solid #000;
  box-shadow: 6px 6px 0px var(--color-shadow-purple);
  font-size: 22px;
  transition:
    transform 0.2s,
    box-shadow 0.2s;
  display: inline-block;
  padding: 10px 25px;
  text-decoration: none;
  color: var(--color-dark-blue);
  cursor: pointer;
  font-weight: bold;
  max-width: 100%;      
  box-sizing: border-box; 
  white-space: normal;   
  text-align: center;
}
.button a:hover {
  transform: translate(-2px, -2px);
  box-shadow: 8px 8px 0px var(--color-shadow-purple);
}

.button a:active {
  transform: translate(2px, 2px);
  box-shadow: 2px 2px 0px var(--color-shadow-purple);
}

/*form*/

form{
  border-radius: 15px;
  background-color: var(--color-light-pink);
}
span{
  color: var(--color-purple);
}

fieldset{
  border: 0;
}

@media (max-width: 1000px) {

  article {
    padding-right: 20px;
    padding-bottom: 90px; 
     border-right: none; 
    border-bottom: 1.5px solid black;
  }
  aside{
    border-left: none; 
  }
  .icons {
    top: auto; 
    right: auto; 
    transform: none !important; 
    bottom: 20px;
    left: 0;
  }
  .icons ul {
    flex-direction: row; 
    gap: 20px;
  }
}